@import '../../partials/variables.scss';

header {
  padding: 25px;
  .logo {
  }
  nav {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      li {
        padding: 15px;
      }
    }
  }
}
