@import '../../partials/variables.scss';

header {
	padding: 25px;
	height: 100px;
	nav {
		width: 90vw;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		ul {
			display: flex;
			list-style-type: none;
			li {
				padding: 10px;
			}
			.nav-link {
				padding: 12px;
				border-radius: 5px;
				border: 1px solid transparent;
				transition: all ease 0.5s;
				&:hover {
					color: $main;
					border: 1px solid $main;
				}
			}
		}
	}
}

.logo-svg {
	fill: orange;
}
