@import '../../partials/variables.scss';

.title-container {
  width: 100%;
  display: flex;
  label {
    padding: 10px 15px;
    border: 1px solid $border;
    border-right: none;
    h3 {
      font-weight: normal;
    }
  }
  #story-title {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $border;
    outline: none;
  }
  label,
  #story-title {
    border-bottom: none;
  }
}
